
/* Import Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');


/*******************************************
*               GENERAL
********************************************/
html, body {
    font-family: 'Roboto Regular', sans-serif;
    font-weight: 600;
    font-size: 18px;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

body {
    overflow-y: scroll;
}

.content {
    display: block;
    min-width: 80%;
    padding-bottom: 5%;
    margin: auto;
}

.content-nested-page {
    display: block;
    width: 95%;
    padding-right: 5%;
    padding-bottom: 5%;
    margin: auto;
}

.custom-table {
    margin-top: 10px;
    text-align: center;
    border-radius: 20px;
}

.custom-table thead > tr > th {
    border-top: 0;
}

a {
    color: #000;
}

button > a {
    text-decoration: none;
    color: inherit;
    line-height: 0;
}

/*******************************************
*               SCROLLBAR
********************************************/

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/*******************************************
*               BREADCRUMBS
********************************************/

.breadcrumbs {
    width: 100%;
    padding: 20px 0px 20px 0px;
    font-size: 16px;
    text-align: left;
}

.breadcrumbs a {
    color: #000;
}

.breadcrumbs ul {
    padding: 0;
    margin: 0;
    vertical-align: middle;
}

.breadcrumbs ul > li {
    list-style-type: none;
    display: inline;
}

.breadcrumbs ul > li:last-child {
    font-weight: 500;
}

.breadcrumbs li:before{
    content: ">";
}


.right-sidebar .fa.edit-icon {
    font-size: 20px;
    color: #CECECE;
}

.right-sidebar .fa.edit-icon:hover {
    color:#4c4c4c
}


/* Welcome Title */
.welcome-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 50px;
    margin-right: 5px;
    padding: 30px 0px 30px 0px;
}


/*******************************************
*               NAV BAR
********************************************/

.navbar {
    background-color: #003062;
    max-height: 3%;
}

.navbar-nav .dropdown-menu {
    position: absolute!important
}

#dropdownMenuButton {
    background: none;
    border: none;
    padding: 0px 15px;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    color: #fff;
    font-size: 35px;
    line-height: 1;
}

.custom-navbar .navbar-right {
    display: block;
    float: right;
    padding-right: 15px;
}

.custom-navbar .nav.navbar-nav.navbar-right li {
    float: right;
}

/* Icons */
.custom-navbar .nav.navbar-nav.navbar-right li > a { 
    padding: 0px 15px;
    color: #fff;
    font-size: 25px;
}

.custom-navbar a:hover {
    text-decoration: none;
}

.custom-navbar .navbar-toggle {
    float: left
}

.custom-navbar .navbar-header {
    float: left;
    width: auto!important;
}

.custom-navbar .navbar-collapse {
    clear: both;
    float: none;
}

.custom-navbar .fa { 
    font-size: 35px;
}

.edurec-logo {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-size: 30px;
    margin-left: 10px;
    color: #EF7C00;
}

/* Searchbar */
.form-group {
    margin-bottom: 0rem!important;
}

.has-search .form-control {
    padding-left: 2.375rem;
    width: 120%;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.350rem;
    height: 2.350rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.form-group .fa {
    font-size: 25px;
}

/*******************************************
*            MAIN MENU DROPDOWN
********************************************/

.main-menu.dropdown-menu {
    position: absolute;
    background-color: #003062;
    border-color: #aaa;
    border-radius: 0;
    min-width: 17rem;
    height: 1000px;
    float: right;
    margin: 10px 0px 0px;

    font-family: 'Roboto Light', sans-serif;
    text-align: left;

    right: 0;
}

.main-menu > .dropdown-item {
    color: #fff;
    font-size: 30px;
    min-height: 50px;
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 50px;
}

.main-menu > a.dropdown-item:hover {
    background-color: #0056b3;
    color: #fff;
}

.main-menu-title {
    font-family: 'Roboto Light', sans-serif;
    font-size: 50px;
    color: #fff;
    margin: 20px 0px 20px 0px;
    text-align: center;
}

/*******************************************
*               BLOCKS
********************************************/

.block { 
    font-family: 'Roboto Light', sans-serif;
    font-size: inherit;
    line-height: 2rem;
    background-color: #F6F6F6;
    border-radius: 10px;
    padding: 5%;
    width: 100%;
    margin: 5px;
}

.block a {
    color: #003062;
}

.block a:hover {
    color: inherit;
    text-decoration: underline;
}

.block .text > ol {
    padding-top: 10px;
}

.block .text > ol > li {
    font-size: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
}

.block .fa {
    font-size: inherit;
    padding: 0px 10px;
}

.block i {
    min-width: 50px;
    text-align: center;
}

/* BLOCKS FOR LANDING PAGE */

.landing-block h1 {
    font-family: 'Roboto Light', sans-serif;
    font-size: 30px;
    padding: 10px 0px 10px 0px;
    text-align: center;
}

.landing-block ul {
    padding: 0px 10% 0px 10%;
}

.landing-block ul > li {
    font-family: 'Roboto Light', sans-serif;
    font-size: 20px;
    list-style-type: none;
    padding: 15px 0px 15px 0px;
    color: #003062;
}

/* LONG COLUMN */
.long-block {
    min-height: 100%;
}

/* SHORT COLUMNS */

.short-block {
    min-height: 50%;
}

.long-col {
    height: 100%;
}

.long-col > .row {
    min-height: 50%;
}

/* Block for Notices */
.block-notice {
    background-color: #FFD4D4;
}

.block-modreg-notice {
    font-size: 20px;
    padding: 3%; 
    background-color: #A5D6C4;
}

/* SIDEBAR ON RIGHT OF LANDING & ABOUT PAGES */

.right-sidebar {
    float: right;
}

.right-sidebar > .row > .block {
    width: 80%;
    margin-left: auto;
    margin-right: 0;
}

.right-sidebar  h1 {
    font-family: 'Roboto Light', sans-serif;
    font-size: 25px;
    padding: 10px 0px 10px 0px;
    text-align: left;
}

.right-sidebar ul {
    padding: 0;
    padding-left: 50px;
}

.right-sidebar ul > li {
    font-size: 16px;
    list-style-type: none;
    padding: 0;
    padding-bottom: 3px;
}

.big-icon {
    background-color:#003062;
    color: #fff;
    width: 150px;
    height: 150px;
    border-radius: 75px;
    padding: 10px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: center;
}

.big-icon .fa {
    color: #fff;
    font-size: 70px;
    text-align: center;
}

.big-icon > i {
    position: relative;
    transform: translateY(40%);
}

/*******************************************
*               BUTTONS
********************************************/

.round-button {
    font-family: 'Roboto Bold', sans-serif;
    font-weight: 600;
    line-height: 2;
    vertical-align: middle;
    display: table;
    height: 40px;
    border-radius: 40px;
    background-color: #CECECE;
    padding: 5px 20px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #fff;
    box-shadow: 3px 3px 3px grey;
}

.round-button i {
    padding-right: 5px;
}

.round-button a, 
.round-button a:hover {
    color: inherit;
    text-decoration: none;
}

.round-button.green {
    background-color: #0C8460;
}

.round-button.blue {
    background-color: #003062;
}

.round-button.green:hover {
    transition: 0.25s all ease-in-out;
    background-color: #0a6e50;
}

.round-button.blue:hover {
    transition:0.25s all ease-in-out;
    background-color: #032244;
}


/*******************************************
*           ABOUT PAGE ELEMENTS
********************************************/

table#about-page-feedback {
    font-weight: 600;
    margin-top: 10px;
    width: 100%;
    align-items: left;
}

table#about-page-feedback td {
    padding: 10px 0px 10px 0px;
    align-items: left;
    vertical-align: top;
}

table#about-page-feedback td:nth-child(1) {
    width: 15%;
}

table#about-page-feedback button.btn.btn-primary {
    font-family: 'Roboto Bold', sans-serif;
    background-color: #EF7C00;
    border: none;
}

.container-fluid.nested-page {
    padding-left: 0;
    min-height: 100%;
}

/*******************************************
*          NESTED PAGE ELEMENTS
*    i.e. Global Education & ModReg
********************************************/

.content-nested-page .block {
    padding: 40px;
}

/**************
*   SIDEBAR
***************/

.sidebar {
    width: 100%;
    min-height: 100%;
    padding: 0!important;
    background-color: #EDEDED;
    border-right: 1px solid #b4b4b4;
}

.sidebar-title {
    font-weight: 300;
    font-size: 35px;
    width: 100%;
    text-align: center;
    padding: 30px 0px;
    margin-right: -5px;
}

table#sidebar-table {
    table-layout: fixed;
    width: 100%;
}

table#sidebar-table {
    padding: 10px 0px;
}

table#sidebar-table td {
    font-weight: 300;
    font-size: 22px;
    padding-top: 15px;
    padding-bottom: 15px;
}

table#sidebar-table td:first-child {
    padding-left: 30px;
    width: 90%;
}

table#sidebar-table td:last-child {
    text-align: right;
    padding-right: 15px;
}

table#sidebar-table tr.sidebar-selected {
    background-color: #CECECE;
}

table#sidebar-table tr.sidebar-indent > td {
    padding-left: 50blocpx;
}

table#sidebar-table tr:hover {
    transition:0.25s all ease-in-out;
    background-color: #CECECE;
}

/**************
*   MODREG 
***************/

table#modreg-notice {
    font-family: 'Roboto Bold', sans-serif;
    width: 100%;
    font-weight: 1000;
    margin-bottom: 20px;
}

table#modreg-notice td:last-child {
    text-align: right;
    color: red;
}

table#heading-with-manage {
    width: 100%
}

table#heading-with-manage td:last-child {
    vertical-align: top;
    text-align: right;
}

table#heading-with-manage td i {
    color: #888;
}

.students-selected {
    font-weight: 800;
}

.students-selected.red {
    color: #EF7878;
}

.students-selected.green {
    color: #5EA645;
}

table#modreg-overview {
    font-family: 'Roboto Bold', sans-serif;
    font-size: 20px;
    width: 90%;
    margin: auto;
}

table#modreg-overview td {
    padding: 15px 0px;
}

table#modreg-overview td:last-child {
    text-align: right;
}

/**********************
*   GLOBAL EDUCATION 
***********************/

